In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("C:/train.csv")

In [4]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [5]:
df['target_value'] = df['target'].apply(lambda score : 'disaster' if score == 1 else 'no disaster')

In [8]:
df.head(25)

,id,keyword,location,text,target,target_value
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,disaster
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,disaster
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,disaster
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,disaster
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,disaster
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1,disaster
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1,disaster
7,13,NaN,NaN,I'm on top of the hill and I can see a fire in...,1,disaster
8,14,NaN,NaN,There's an emergency evacuation happening now ...,1,disaster
9,15,NaN,NaN,I'm afraid that the tornado is coming to our a...,1,disaster
10,16,NaN,NaN,Three people died from the heat wave so far,1,disaster
11,17,NaN,NaN,Haha South Tampa is getting flooded hah- WAIT ...,1,disaster
12,18,NaN,NaN,#raining #flooding #Florida #TampaBay #Tampa 1...,1,disaster
13,19,NaN,NaN,#Flood in Bago Myanmar #We arrived Bago,1,disaster
14,20,NaN,NaN,Damage to school bus on 80 in multi car crash ...,1,disaster
15,23,NaN,NaN,What's up man?,0,no disaster
16,24,NaN,NaN,I love fruits,0,no disaster
17,25,NaN,NaN,Summer is lovely,0,no disaster
18,26,NaN,NaN,My car is so fast,0,no disaster
19,28,NaN,NaN,What a goooooooaaaaaal!!!!!!,0,no disaster
20,31,NaN,NaN,this is ridiculous....,0,no disaster
21,32,NaN,NaN,London is cool ;),0,no disaster
22,33,NaN,NaN,Love skiing,0,no disaster
23,34,NaN,NaN,What a wonderful day!,0,no disaster
24,36,NaN,NaN,LOOOOOOL,0,no disaster

In [4]:
df.isna().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [5]:
df.dropna(inplace= True)

In [6]:
len(df)

5080

In [9]:
df.isna().sum()

id          0
keyword     0
location    0
text        0
target      0
dtype: int64

In [10]:
df['target'].unique()

array([1, 0], dtype=int64)

In [15]:
blanks = []
for id,label,keyword,location,text,target in df.itertuples():
    if text.isspace():
        blanks.append(id)

In [16]:
blanks

[]

In [11]:
from sklearn.pipeline import Pipeline

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
from sklearn.svm import LinearSVC

In [18]:
text_clf = Pipeline([('tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [21]:
X = df['text']
y = df['target']

text_clf.fit(X,y)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('clf',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [22]:
df1 = pd.read_csv("C:/test.csv")

In [24]:
df1.isna().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [26]:
df1.ffill(axis=1)

,id,keyword,location,text
0,0,0,0,Just happened a terrible car crash
1,2,2,2,"Heard about #earthquake is different cities, s..."
2,3,3,3,"there is a forest fire at spot pond, geese are..."
3,9,9,9,Apocalypse lighting. #Spokane #wildfires
4,11,11,11,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,10861,10861,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,10865,10865,Storm in RI worse than last hurricane. My city...
3260,10868,10868,10868,Green Line derailment in Chicago http://t.co/U...
3261,10874,10874,10874,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,10875,10875,#CityofCalgary has activated its Municipal Eme...

In [28]:
X1 = df1['text']

In [29]:
predictions = text_clf.predict(X1)

In [33]:
predictions

array([0, 1, 1, ..., 1, 1, 1], dtype=int64)

In [34]:
submission = pd.DataFrame({'id':df1['id'],'target':predictions})

In [35]:
submission.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       1
4  11       1

In [36]:
filename = 'Disaster Tweets 1.csv'

In [37]:
submission.to_csv(filename,index=False)

print('Saved file: ' + filename)

Saved file: Disaster Tweets 1.csv